moira/kernels/*.bsp filter=lfs diff=lfs merge=lfs -text
moira/kernels/sb441_type13/*.bsp filter=lfs diff=lfs merge=lfs -text
moira/kernels/sb441_type13/manifest.json filter=lfs diff=lfs merge=lfs -text
